# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- 2.x

pool:
  vmImage: windows-2022

parameters:
  - name: IsRelease
    displayName: 'Is Release'
    default: false
    type: boolean

variables:
  BuildConfiguration: 'Release'
  MajorVersion: 2
  MinorVersion: 0
  Patch: 0
  VersionPrefix: '$(MajorVersion).$(MinorVersion).$(Patch)'
  FileVersion: '$(VersionPrefix).$(rev:r)'
  ${{ if eq(parameters.IsRelease, false) }}:
    VersionSuffix: 'pre.$(rev:r)'
    BuildName: '$(VersionPrefix)-$(VersionSuffix)'
  ${{ else }}:
    VersionSuffix: ''
    BuildName: '$(VersionPrefix)'

name: '$(BuildName)'

steps:
- task: UseDotNet@2
  displayName: 'Install .Net 3.1'
  inputs:
    packageType: sdk
    version: '3.1.x'
    performMultiLevelLookup: true

- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: 'src/Isle/Isle.sln'
    arguments: '-c $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    command: build    
    projects: 'src/Isle/Isle.sln'
    arguments: '-c $(BuildConfiguration) -p:FileVersion=$(FileVersion) -p:InformationalVersion="$(Build.BuildNumber)-$(Build.SourceVersion)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    projects: 'src/Isle/Isle.sln'
    arguments: '-c $(BuildConfiguration) --no-build'
    nobuild: true

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Compatibility'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Compatibility/Isle.Compatibility.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Core'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Core/Isle.Core.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Extensions.Logging'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Extensions.Logging/Isle.Extensions.Logging.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'
    
- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Serilog'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Serilog/Isle.Serilog.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: PublishBuildArtifacts@1

- task: NuGetToolInstaller@1
  displayName: 'Install NuGet 6.x'
  inputs:
    versionSpec: 6.x

- task: NuGetCommand@2
  displayName: 'MyGet push'
  condition: ${{ eq(parameters.IsRelease, false) }}
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: MyGet
    includeSymbols: true

- task: NuGetCommand@2
  displayName: 'NuGet push'
  condition: ${{ eq(parameters.IsRelease, true) }}
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: NuGet
    includeSymbols: true