# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- 2.x

pool:
  vmImage: windows-2022

parameters:
  - name: BuildType
    displayName: 'Build Type'
    type: string
    default: CI
    values:
    - CI
    - Pre-release
    - Release

variables:
  BuildConfiguration: 'Release'
  MajorVersion: 2
  MinorVersion: 0
  Patch: 0
  VersionPrefix: $[format('{0}.{1}.{2}', variables.MajorVersion, variables.MinorVersion, variables.Patch )]
  ${{ if ne(parameters.BuildType, 'Release') }}:
    VersionSuffix: $[format('pre.{0}', split(variables['Build.BuildNumber'], '.')[3])]
  ${{ else }}:
    VersionSuffix: ''


name: '$(MajorVersion).$(MinorVersion).$(Patch).$(rev:r)'

steps:
- script: |
    echo "FileVersion:   $(Build.BuildNumber)"
    echo "SourceVersion: $(Build.SourceVersion)"
    echo "VersionPrefix: $(VersionPrefix)"
    echo "VersionSuffix: $(VersionSuffix)"
  displayName: 'Print Variables'

- task: UseDotNet@2
  displayName: 'Install .Net 3.1'
  inputs:
    packageType: sdk
    version: '3.1.x'
    performMultiLevelLookup: true

- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: 'src/Isle/Isle.sln'
    arguments: '-c $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    command: build    
    projects: 'src/Isle/Isle.sln'
    arguments: '-c $(BuildConfiguration) -p:FileVersion=$(Build.BuildNumber) -p:InformationalVersion="$(Build.BuildNumber)-$(Build.SourceVersion)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    projects: 'src/Isle/Isle.sln'
    arguments: '-c $(BuildConfiguration) --no-build'
    nobuild: true

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Compatibility'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Compatibility/Isle.Compatibility.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Core'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Core/Isle.Core.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Extensions.Logging'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Extensions.Logging/Isle.Extensions.Logging.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'
    
- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Serilog'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Serilog/Isle.Serilog.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Converters.Roslyn'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Converters.Roslyn/Isle.Converters.Roslyn.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build --include-symbols -o "$(Build.ArtifactStagingDirectory)"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack Isle.Converters.Roslyn.Analyzers'
  inputs:
    command: custom
    custom: pack
    projects: 'src/Isle/Isle.Converters.Roslyn.Analyzers/Isle.Converters.Roslyn.Analyzers.Package/Isle.Converters.Roslyn.Analyzers.Package.csproj'
    arguments: '-c $(BuildConfiguration) -p:VersionPrefix=$(VersionPrefix) --version-suffix "$(VersionSuffix)" --no-build'

- task: PublishBuildArtifacts@1

- task: NuGetToolInstaller@1
  displayName: 'Install NuGet 6.x'
  inputs:
    versionSpec: 6.x

- task: NuGetCommand@2
  displayName: 'MyGet push'
  condition: ${{ eq(parameters.BuildType, 'CI') }}
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: MyGet
    includeSymbols: true

- task: NuGetCommand@2
  displayName: 'NuGet push'
  condition: ${{ ne(parameters.BuildType, 'CI') }}
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: NuGet
    includeSymbols: true